
{% extends 'Main.html' %}

{% block content %}

<style>
    .passwordChange-section{
        margin-top: 10rem;
    }
</style>

<div class="container-fluid passwordChange-section">
  <div class="row justify-content-center mt-5">
      <div class="col-md-4">
          <div class="whole-body">
              <div class="header">
                  <!-- <i class="fa-solid fa-arrow-left-long"></i> -->
                  <h2>PASSWORD CHANGE</h2>
              </div>

              <div class="body">
                <form method="POST" >
                    {% csrf_token %}
                    {% for field in forms %}

                    <div class="mb-3">
                        <label class="form-label">{{field.label}}</label>
                        <!-- <input type="text" name="room_name" class="form-control"> -->
                        {{field}}
                    </div>

                    {% endfor %}
                    <!-- <div class="mb-3">
                        <label class="form-label">Topics</label>
                        <input type="text" name="topics_name" list="topic-list" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">About</label>
                        <input type="text" class="form-control">
                    </div> -->

                    <div class="buttons-group">
                        <button type="submit" class="btn btn-danger">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}

